# Exploratory Analylsis

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

##  Import clean dataset

In [20]:
bank_df = pd.read_csv("../data/processed/bank_clean.csv")
bank_df.head()

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_,contact_year
0,38.0,housemaid,MARRIED,basic.4y,0.0,False,False,telephone,261,1,999,0,NONEXISTENT,1.1,93.994,-36.4,4.857000,5191,no,2019-08-02,41.495,-71.233,089b39d8-e4d0-461b-87d4-814d71e0e079,2019
1,57.0,services,MARRIED,high.school,unknown,False,False,telephone,149,1,999,0,NONEXISTENT,1.1,93.994,-36.4,3.626521,5191,no,2016-09-14,34.601,-83.923,e9d37224-cb6f-4942-98d7-46672963d097,2016
2,37.0,services,MARRIED,high.school,0.0,True,False,telephone,226,1,999,0,NONEXISTENT,1.1,93.994,-36.4,4.857000,5191,no,2019-02-15,34.939,-94.847,3f9f49b5-e410-4948-bf6e-f9244f04918b,2019
3,40.0,admin.,MARRIED,basic.6y,0.0,False,False,telephone,151,1,999,0,NONEXISTENT,1.1,93.994,-36.4,3.625715,5191,no,2015-11-29,49.041,-70.308,9991fafb-4447-451a-8be2-b0df6098d13e,2015
4,56.0,services,MARRIED,high.school,0.0,False,True,telephone,307,1,999,0,NONEXISTENT,1.1,93.994,-36.4,3.581983,5191,no,2017-01-29,38.033,-104.463,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,2017

In [21]:
bank_df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'date', 'latitude', 'longitude', 'id_',
       'contact_year'],
      dtype='object')

### Target feature 
    - y

In [22]:
bank_df["y"].value_counts()

y
no     37941
yes     4811
Name: count, dtype: int64

In [23]:
bank_df["y"].value_counts(normalize=True)

y
no     0.887467
yes    0.112533
Name: proportion, dtype: float64

In [24]:
categorical = ["job", "marital","contact", "poutcome"]
for col in categorical:
    print(bank_df.groupby(col)["y"].value_counts(normalize=True))

job            y
admin.         no     0.870209
               yes    0.129791
blue-collar    no     0.931078
               yes    0.068922
entrepreneur   no     0.917826
               yes    0.082174
housemaid      no     0.900627
               yes    0.099373
management     no     0.888669
               yes    0.111331
retired        no     0.747475
               yes    0.252525
self-employed  no     0.891436
               yes    0.108564
services       no     0.919468
               yes    0.080532
student        no     0.686384
               yes    0.313616
technician     no     0.891609
               yes    0.108391
unemployed     no     0.855524
               yes    0.144476
unknown        no     0.886628
               yes    0.113372
Name: proportion, dtype: float64
marital   y
DIVORCED  no     0.898202
          yes    0.101798
MARRIED   no     0.898142
          yes    0.101858
SINGLE    no     0.860583
          yes    0.139417
unknown   no     0.847059
          yes    0.152941
Name: proportion, dtype: float64
contact    y
cellular   no     0.852710
           yes    0.147290
telephone  no     0.948454
           yes    0.051546
Name: proportion, dtype: float64
poutcome     y
FAILURE      no     0.857979
             yes    0.142021
NONEXISTENT  no     0.911965
             yes    0.088035
SUCCESS      yes    0.654278
             no     0.345722
Name: proportion, dtype: float64